/* just body */
body {     
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    margin-top: 100px;
}

/* .container {
    width: 85%;
    padding: 5%;
    margin: auto;
    background-color: #fff;
} */

a{
    font-family: georgia;
}

/* Header stuffs */
.header {
    background-color: #192134;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;

}

header .logodiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.header nav {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.header nav ul li {
    list-style: none;
}

.header a {
    text-decoration: none;
    color:white;
}

.header a:hover {
    text-decoration: underline;
}


h2, h3, h4, h5, h6 {
    
}

/* hero */

h1 {
    font-family: georgia;
    font-weight: normal;
    color: #ffffffb4;
    line-height: 1;
    letter-spacing: -0.2px;
    text-transform:none;
    /*these properties are totally unrelevant for this project
    I just put them there to remind their existence*/
    width: 100%;
    height: 100%;
}

h1 strong {
    color: white;
}

.hero {
    height: 300px;
    background: url(https://i.ibb.co/Tg8MM5r/Perfil.jpg);
    background-color: #192134;
    background-size: 300px 350px;
    background-repeat: no-repeat;
    background-position-x: right;
}

/* projects section */

.portfolio {
    background-color: #626262;  
}

.project {
    background: white;
    border: 1px solid gray;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.project-details {
    width: 500px;
    height: 200px;
}

.project-graph {
    width: 200px:
}