/* just body */
body {     
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    margin-top: 100px;
}

/* .container {
    width: 85%;
    padding: 5%;
    margin: auto;
    background-color: #fff;
} */

a{
    font-family: georgia;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Manrope', 'sans-serif', Tahoma;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h3, h4, h5, h6 {
    font-family: Manrope;
}

/* Header stuffs */
.header {
    background-color: #192134;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
}

figure {
    margin: 0;
}

header .logodiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.header nav {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    height: inherit;
    
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header nav ul li {
    list-style: none;
    display: flex;
}

.header a {
    text-decoration: none;
    color:white;
    display: flex;
    padding: 0 10px;
}

.header a:hover {
    text-decoration: underline;
}

/* hero */


h1 {
    font-family: georgia;
    font-weight: normal;
    color: #ffffffb4;
    font-size: 4rem; 
    line-height: 1;
    letter-spacing: -0.2px;
    text-transform:none;
    /*these properties are totally unrelevant for this project
    I just put them there to remind their existence*/
    width: 100%;
    height: 100%;
    margin: 0;

}

h1 strong {
    color: white;
}

.hero {
    height: 300px;
    background: url(https://i.ibb.co/Tg8MM5r/Perfil.jpg);
    background-color: #192134;
    background-size: 300px 350px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

/* projects section */

.portfolio {
    background-color: #fafafa; 
    padding: 20px;
}

.project {
    background: white;
    border: 1px solid gray;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course, .project-date, .project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 16px;
}

.project-details {
    width: 500px;
}

.project-graph {
    width: 200pxM
}

.footer {
    background-color: #192134;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer img {
    vertical-align: middle;
    width: 100px;
}

/* Media Queries  */

@media screen and (max-width: 480px) {
    .logodiv {
        width: 60px;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

  } 