/* just body */
body {     
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #192134;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
}

a{
    font-family: georgia;
}

h2 {
    color: #B01A37;
    text-transform: uppercase;
    font-family: 'Manrope', 'sans-serif', Tahoma;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h3, h4, h5, h6 {
    font-family: Manrope;
}

/* Header stuffs */

 .header {
    background-color: #192134;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
figure {
    margin: 0;
}

header .logodiv {
    display: flex;
}

.header nav {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: inherit;
    
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header nav ul li {
    list-style: none;
    display: flex;
}

.header a {
    text-decoration: none;
    color:white;
    display: flex;
    padding: 0 10px;
}

.header a:hover {
    text-decoration: underline;
    text-decoration-color: #B01A37;
}

/* hero */


h1 {
    font-family: georgia;
    font-weight: normal;
    color: #ffffffb4;
    font-size: 4rem; 
    line-height: 1;
    letter-spacing: -0.2px;
    text-transform:none;
    /*these properties are totally unrelevant for this project
    I just put them there to remind their existence*/
    width: 100%;
    height: 100%;
    margin: 0;

}

h1 strong {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #B01A37;
}

.hero {
    height: 300px;
    background-color: #192134;
    /* background-image: url(https://i.ibb.co/Tg8MM5r/Perfil.jpg);ยบ */
    /* background-repeat: no-repea */t;
    /* background-position: right; */
    /* background-size: 300px 350px; */
}

.hero-wrapper {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.img-hero {
    height: 300px;
    object-fit: cover;
}


/* projects section */

.portfolio {
    background-color: #fafafa; 
    padding: 20px;
}

.project {
    background: white;
    border: 1px solid gray;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-course, .project-date, .project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 16px;
}

.project-details {
    width: 50%;
}

.project-image-label {
    width: 50%;
    text-align: right;
}

.project-image-label img {
    max-width: 100%;
}

/* EVENTS */

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
    flex-wrap: wrap;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-details {
    margin: 20px;
    margin-top: -40px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid #B01A37;
    padding: 5px 20px;
    text-decoration: none;
    color: #B01A37;
    font-family: Manrope;
    font-weight: bold;
    border-radius: 5px;
}

.event-announcer {
    margin-left: 20px;
}

/* CONTACT */

.contact {
    background-color: #B01A37;
    color: white;
    height: 150px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter {
    background-image: url(https://i.ibb.co/zPvkYRf/Twitter-Logo-White-On-Image.png);
}

.social-link.facebook {
    background-image: url(https://i.ibb.co/Tb64LmM/f-logo-RGB-White-100.png);
}

.social-link.github{
    background-image: url(https://i.ibb.co/FWwC8VS/Git-Hub-Mark-Light-64px.png);
}

.social-link.instagram {
    background-image: url(https://i.ibb.co/2YTQ5JY/glyph-logo-May2016.png);
}

.form-email input {
    border-color: gray;
    padding: 10px;
    border-radius: 5px;
    border-style: solid ;
    width: 22em;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
}

/* FOOTER */

.footer {
    background-color: #192134;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer img {
    vertical-align: middle;
    width: 100px;
}

/* Media Queries DESKTOP-FIRST  */

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 767px) {
   
    .container {
        width: 100%;
    }

    /* HEADER */

    .header {
        display: block;
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 0;
        padding-top: 0;
    }
    .header .logo {
        text-align: center;
    }
    
    .header nav {
        display: initial;
    }
    .header nav ul li {
        height: 50px;
    }

    .header a {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    /* PORTFOLIO */

    
    .project {
        display: block;
    }

    .project-image-label {
        width: auto;
        text-align: center;
    }

    .project-course, .project-date, .project-url {
        margin: .4px 0;
    }

    h2 {
        font-size: 1.2em;
    }

    .project-details{ 
        width: auto;
        font: 16px;
    }

    h2, .project-title {
        font-size: 1.5em;
    }

    .project-url {
        font-size: .8em;
    }
    .project-course {
        font-size: 1.2em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {

    }

}

@media screen and (max-width: 480px) {
    .project-details{ 
        width: auto;
        font-size: 12px;
    }


    h2 {
        font-size: 1.2em;
    }

    .project-title {
        font-size: 1.5em;
    }

    .project-url {
        font-size: .8em;
    }
    .project-course {
        font-size: 1.2em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: 1em;
    }
}

@media screen and (max-width: 320px) {
    
} 