/* just body */
body {
    
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

figure {
    margin: 0;
}

/* .container {
    width: 85%;
    padding: 5%;
    margin: auto;
    background-color: #fff;
} */

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    font-family: tahoma;
}

/* Header stuffs */
.header {
    background-color: #192134;
    color:white;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.navbar {height:inherit;
}

.header nav{
    display: flex;
    height: inherit;
}

.header nav ul {
    height: inherit;
    display:flex;
    align-items: center;
    padding: 0 10px;
}


.header a {
    text-decoration: none;
    color:white;
    height: inherit;
    
}
h2, h3, h4, h5, h6 {
    
}

h2 {
    color: blue;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    
}

/* hero */

h1 {
    font-family: georgia;
    line-height: 1;
    letter-spacing: -0.2px;
    color: #ffffffb4;
    font-weight: normal;
    text-decoration: none;
    /*these properties are totally unrelevant for this project
    I just put them there to remind their existence*/
    margin: 0;
}

h1 strong {
    color: white;
}

.hero {
    height: 300px;
    background: url(https://i.ibb.co/Tg8MM5r/Perfil.jpg);
    background-color: maroon;
    background-size: 300px 350px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;

}

/* projects section */

.portfolio {
    background-color: #626262;
    padding: 20px;
}

.project {
    background: white;
    border: 1px solid gray;
    margin-bottom: 15px;
    padding: 20px;
}

.project-details {
    width: 500px;
    height: 200px;
}

.project-graph {
    width: 200px:
}

.footer {
    background-color: #192134;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

}

.footer img {
    vertical-align: middle;
}

.footer a{
    text-decoration: none;
    color: white;
}
